* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: black 1px solid; */
    color: #FFFFFF;
}


body {
    background-color: #011962;
 
}

.container-carre{
    display: flex;
  justify-content: center;
 
}
.square {
  
    background-color: #011962;
    border: #fff solid 1px;
    box-shadow: 0.375em 0.375em 0 0 rgba(255, 255, 255, 0.125);
    height: 300px;
    width: 300px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

.circle{
  background: rgba(255, 255, 255, 0.125);
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(209, 16, 16, 0.125);
  height: 5em;
  width: 5em;

}

