 /* css commun à toutes les pages */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* border: black 1px solid; */
     color: #00dab8;
 }

 body {
     font-family: JejuGothic, sans-serif;
     background-color: #011962;
     cursor: grab;
 }


 /* accueil index.php*/

 /* inscription.php */

 /* login.php */

 /* logout.php */


 /* add-task.php */

 /* show-task.php bonus */

 /* validate-task.php bonus */