 /* css commun à toutes les pages */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: red 1px solid; */
   color: #fff;

 }

 h1,
 h2,
 h3,
 h4 {
   background-color: #fff;
   padding: 30px;
   border-radius: 25px;
   color: #cda63c;
   margin-top: 30px;
   margin-bottom: 30px;
 }

 body {
   font-family: JejuGothic, sans-serif;
   background-color: #1b1b1a;
   background-image: url("assets/granite-highlight.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: grab;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
/* dé 3D */
.dice {

  position: relative;
  width: 200px;
  height: 200px;
   transform-style: preserve-3d;
  transform: rotateY(185deg) rotateX(150deg) rotateZ(315deg);
  margin-top: 150px;
  margin-bottom: 50px;
}

.side {
  
  width: 100%;
  height: 100%;
  background-color: #011962;
  border-radius: 17%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
   box-shadow:
    0 0 5px rgba(255, 255, 255, 0.2),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 30px rgba(255, 255, 255, 0.4),
    0 0 60px rgba(255, 255, 255, 0.5);
}

/* pour faire les pins ronds de mon dé */
  .side::before {
 /* le content va afficher le rond noir si je mets un X ça va faire apparaitre un X */
  content: '';
  width: 20%;
  height: 20%;
  background: #fff;
  border-radius: 50%;
  
  }


.one {
  transform: translateZ(100px);

  box-shadow: rgba(194, 242, 255, 0.17) 0px -23px 25px 0px inset,
    rgba(194, 242, 255, 0.15) 0px -36px 30px 0px inset,
    rgba(194, 242, 255, 0.1) 0px -79px 40px 0px inset,
    rgba(194, 242, 255, 0.06) 0px 2px 1px,
    rgba(194, 242, 255, 0.09) 0px 4px 2px,
    rgba(194, 242, 255, 0.09) 0px 8px 4px,
    rgba(194, 242, 255, 0.09) 0px 16px 8px,
    rgba(194, 242, 255, 0.09) 0px 32px 16px;
}


.two::before {
    background: transparent;
    box-shadow: #fff -50px -50px 0px 0px, #fff 50px 50px 0px 0px;
  }

.two {
  transform: translateX(-100px) rotateY(-90deg);
  
}


.three::before {
    box-shadow: #fff -50px 50px 0px 0px, #fff 50px -50px 0px 0px;
  }


.three {
  transform: translateY(100px) rotateX(90deg);
}

.four::before {
    background: transparent;
    box-shadow: #fff -50px 50px 0px 0px, #fff -50px -50px 0px 0px,
      #fff 50px 50px 0px 0px, #fff 50px -50px 0px 0px;
  }

.four {
  transform: translateY(-100px) rotateX(90deg);
}

.five::before {
    box-shadow: #fff -50px -50px 0px 0px, #fff -50px 50px 0px 0px,
      #fff 50px -50px 0px 0px, #fff 50px 50px 0px 0px;
  }


.five {
  transform: translateX(100px) rotateY(90deg);
}

.six::before {
    background: transparent;
    box-shadow: #fff -50px -50px 0px 0px, #fff -50px 0px 0px 0px,
      #fff -50px 50px 0px 0px, #fff 50px -50px 0px 0px, #fff 50px 0px 0px 0px, #fff
        50px 50px 0px 0px;
  }
  



.six {
  transform: translateZ(-100px);
}


@keyframes rotate {
  from {
    transform: rotateY(0) rotateX(45deg) rotateZ(45deg);
  }
  to {
    transform: rotateY(360deg) rotateX(45deg) rotateZ(45deg);
  }
}

.dice {
  animation: rotate 5s;
}
 /* accueil index.php*/
 table {
   background-color: #fff;
   border-collapse: collapse;
   width: 100%;
 }

 th {
   background-color: #cda63c;
   color: #fff;
   text-align: center;
   padding: 8px;
 }

 td {
   color: #cda63c;
   border: 1px solid #cda63c;
   text-align: center;
   padding: 8px;
 }

 button {


   background-color: #011962;
   box-shadow:
     0 0 5px rgba(255, 255, 255, 0.2),
     0 0 15px rgba(255, 255, 255, 0.3),
     0 0 30px rgba(255, 255, 255, 0.4),
     0 0 60px rgba(255, 255, 255, 0.5);
   color: #cda63c;
   display: inline-block;
   padding: 10px 15px;
   border-radius: 15px;
 }

 .button:hover {
   background-color: #cda63c;
   color: #011962;
 }


 input {
   color: #cda63c;

 }

 /* inscription.php */

 /* login.php */

 /* logout.php */


 /* add-task.php */

 /* show-task.php bonus */

 /* validate-task.php bonus */